.env
export_csv.py
readme.md
qdrant_storage
notebooks/
data/
config/
models/
GenerateInstructionData/*.json
GenerateInstructionData/*.jsonl
qa_output.jsonl
mini_instruction_data.jsonl
__pycache__/
*.py[cod]
logs/


t.ipynb
t1.ipynb
t.py
t2.ipynb
