#python version 3.10.18
fastapi
uvicorn
requests
python-dotenv
psycopg2-binary
sentence-transformers
qdrant-client
numpy
unicodedata2
beautifulsoup4
concurrent-log-handler
pandas
accelerate
langchain-core
langchain-community
langgraph
langchain-huggingface
langchain-community
langgraph==0.6.3
onnx
optimum[onnxruntime]
tensorrt
onnx-graphsurgeon
openpyxl
locust
vllm
duckduckgo-search
uv
pdfplumber
langsmith 
openevals
nltk
google-generativeai
fastembed
underthesea
docling